/* General Styles */

* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100%;
}

body {
	color: #4a4a4a;
	margin: 0;
	font-size: 16px;
	font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

.container--btn--social {
	width: 120px;
}

.container--btn--home {
	margin: 18px;
	width: 100%;
	text-align: right;
}

.container--text {
	height: 70vh;
	width: 80%;
	margin: 0 auto;
}

.container--text--content {
	position: relative;
	z-index: 2;
	color: #fff;
}

.col--full-height {
	height: 60%;
}

.col--full-height--thanks {
	height: 100%;
}

.col--full-height--last {
	height: 100%;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	display: table;
	text-align: center;
}

.col--full-height--home {
	height: 100%;
}

.col--full-text--color {
	background-color: #ff5628;
}

.col--full-text--color--variant {
	background-color: #66d1bc;
}

.col--full-text--variant {
	background-color: #f3f3f3;
}

.col--full-text--width {
	width: 80%;
	margin: 0 auto;
}

.col--full-text--height {
	height: 80%;
	padding-bottom: 30px;
}

.col--full-text--responsive {
	margin: 0 auto;
	text-align: center;
}

.item-slide--form {
	padding-left: 5%;
	padding-right: 5%;
}

.row--margin {
	margin: 10px 0px 32px;
}

/* Menu */

.menu-nav {
	margin-top: 0%;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    height: 65px;
    padding-top: 10px;
}

.menu-nav__item {
	margin-top: 13px;
	max-width: 100px;
	text-align: center;
	font-size: 16px;
	font-family: 'oswaldregular';
	text-transform: uppercase;
	color: #fff;
}

.menu-home-nav {
	margin: 0 3%;
	padding-top: 3%;
	position: relative;
	z-index: 1;
}

.menu-nav a {
	padding-left: 0;
    padding-right: 0;
}

/* Video */

.embed-container {
	overflow: hidden;
	position: relative;
	height: 100vh;
}

.embed-container iframe {
	background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
}

iframe {
	display: none;
}

/* Main images */

.home-bg {
	padding: 0px;
	background-image: url('../img/home.png');
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
}

.traveler-bg {
	padding: 0px;
	background-image: url('../img/traveler.jpeg');
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
}

.explorer-bg {
	padding: 0px;
	background-image: url('../img/explorer.jpg');
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
}

.adventure-bg {
	padding: 0px;
	background-image: url('../img/adventure.jpeg');
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
}

.talent-bg {
	padding: 0px;
	background-image: url('../img/talent.jpg');
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
	position: relative;
}

.friendship-bg {
	padding: 0px;
	background-image: url('../img/friendship.jpg');
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
}

.dream-bg {
	padding: 0px;
	background-image: url('../img/dream.JPG');
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
}

.inner-bg {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
}

.inner-thanks-bg {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.inner-home-bg {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100vh;
	z-index: 1;
}

.thanksfull-bg {
	padding: 0px;
	background-image: url('../img/thanksfull.jpg');
	background-position-y: top;
	background-position-x: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo-manki {
	position: absolute;
    width: 30%;
    padding: 0;
    height: 10vh;
    left: 50%;
    top: -8px; /*-13px;*/
    max-width: 60px;
}

.logo-manki-home {
	position: absolute;
    width: 30%;
    padding: 0;
    height: 10vh;
	left: 10%;
}

.logo-manki-footer {
	margin-top: -20px;
}

.image--width {
	width: 84px;
	height: 84px;
}

.image-responsive {
	width: 100%;
}

/* Title */

.main-title {
	font-size: 24px;
	max-width: 500px;
	line-height: 0.9;
}

.main-title--footer {
	margin: 0 auto;
	font-size: 24px;
	line-height: 0.9;
}

.main-subtitle {
	font-size: 18px !important;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 400 !important;
	line-height: 1.2;
	max-width: 500px;
	margin-top: 8px;
	color: #000;
}

/* Text general */

h1, .h1 {
	font-size: 46px;
	font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    line-height: 1.0;
    margin-top: 10px;
}

h1.home-main-title {
	font-size: 36px !important;
}

.index_guias h1, .h1 {
	font-size: 36px;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #fff;
	outline: none;
}

a[href="#"] {
	border-bottom: 5px solid #fff;
}

p {
	color: #000;
}

.text-xs {
	font-size: 14px !important;
}

.text-xs-footer {
	font-size: 12px !important;
}

.text-responsive {
	font-size: 13px;
}

.text-subscribe {
	margin: 0px auto 40px;
}

.text-white {
	color: #fff;
}

.mail-link {
	color: #ff5628 !important;
}

.thanksfull .visible-xs .main-subtitle {
	font-size: 14px !important;
}

.thanksfull .visible-xs .main-title {
	font-size: 34px !important;
}

/* Font text */

.text-bold {
	font-family: 'Source Sans Pro';
    font-weight: 700 !important;
    font-style: normal;
}

.text-italic {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	font-size: 16px;
}

.text-oswald-regular {
	font-family: 'oswaldregular';
	font-size: 11px !important;
	text-transform: uppercase;
	color: #fff;
}

/* Buttons */

.btn-default {
	font-family: 'oswaldregular';
	font-size: 11px !important;
	text-transform: uppercase;
	padding: 10px;
	margin-top: 56px;
	display: inline-block;
}

.btn--facebook,
.btn--facebook:hover,
.btn--facebook:active,
.btn--facebook:focus {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background-color: #3B5998;
	color: #fff;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
}

.btn--medium,
.btn--medium:hover,
.btn--medium:active,
.btn--medium:focus {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background-color: #00AB6C;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}

.btn-default--traveler,
.btn-default--traveler:hover,
.btn-default--traveler:active,
.btn-default--traveler:focus {
	background-color: #ff5628;
}

.btn-default--traveler:hover {
	box-shadow: 0 6px 55px 0 rgba(0,0,0, .3);
}

.btn-default--traveler,
.btn--hover {
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn--hover:hover {
	-moz-transform: scale(1.09);
	-webkit-transform: scale(1.09);
	-o-transform: scale(1.09);
	-ms-transform: scale(1.09);
	transform: scale(1.09);
}

.btn-default--traveler--variant,
.btn-default--traveler--variant:hover,
.btn-default--traveler--variant:active,
.btn-default--traveler--variant:focus {
	background-color: #66d1bc;
}

.btn-transparent,
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
	background-color: transparent;
	border: 1px solid #ff5628;
	border-radius: 5px;
	color: #ff5628;
	text-transform: none;
	margin-top: 10px;
	width: 100%;
    text-align: center;
}

.btn-transparent:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.thanksfull .hidden-sm .btn-transparent:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.btn-radius,
.btn-radius:hover,
.btn-radius:active,
.btn-radius:focus {
	border-radius: 5px;
	border-radius: 5px;
    text-transform: none;
    color: white;
    width: 30%;
    margin: 0 5px;
    min-height: 20px;
    cursor: pointer;
    text-align: center;
    padding: 10px 0px;
    font-size: 14px !important;
}

.btn--color,
.btn--color:hover,
.btn--color:active,
.btn--color:focus {
	background-color: #ff5628;
	outline: none;
}

.btn--color--variant,
.btn--color--variant:hover,
.btn--color--variant:focus,
.btn--color--variant:active {
	background-color: #66d1bc;
}

.btn-thanks-width {
	width: 36%;
}

.width-button {
	width: 54%;
	margin-top: -30px !important;
}

/* Form */

.btn-default--subscribe,
.btn-default--subscribe:active,
.btn-default--subscribe:hover,
.btn-default--subscribe:focus {
	border: none;
	color: #fff;
	outline: none;
	margin-top: 10px;
	padding: 8px 40px;
}

.input {
	width: auto;
	margin: 0 auto 30px !important;
	position: relative;
	padding-left: 15px;
    padding-right: 15px;
}

.input--guias {
	margin: 0;
	width: 100% !important;
}

.input--block-end {
	margin: 10px 0px;
}

.input--checkbox {
	font-size: 14px;
	height: 20px;
	margin: 20px auto 30px;
	display: table;
	padding: 0px 24px;
	width: auto !important;
	position: relative;
}

.footer-h1 {
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: normal !important;
	display: inline-block !important;
	margin: 0px !important;
}

.form-control,
.form-control:hover,
.form-control:active,
.form-control:focus {
	background-color: #eee;
	border: none;
	outline: none;
	border-radius: 0;
	box-shadow: none;
	padding-left: 34px;
}

.form-control--guias {
	height: 32px !important;
	width: 100% !important;
}

/* Redes */

.facebook {
	background: url('../img/icon-facebook.png') no-repeat center;
	height: 83px;
	width: 83px;
	border: none;
}

.medium {
  	background: url('../img/icon-medium.png') no-repeat center;
  	height: 83px;
  	width: 83px;
  	border: none;
}

/* Icon */

.icon {
	color: #ff5628;
	width: 16.6px;
	height: 16.6px;
	position: absolute;
    top: 8px;
    left: 24px;
    background-repeat: no-repeat;
    background-position: center center
}

.icon--left {
	left: 8px;
}

.icon-user {
	background-image: url('../img/user_icon.png');
}

.icon-email {
	background-image: url('../img/email_icon.png');
}

.icon-phone {
	background-image: url('../img/phone_icon.png');
}

/* Fonts */

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('../fonts/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('../fonts/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('../fonts/WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
         url('../fonts/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-It.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('../fonts/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('../fonts/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('../fonts/OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('../fonts/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Utils */

.width-lg {
	width: 80%;
}

.display-table {
	display: table;
}

.inline-block {
	display: inline-block;
}

.vertical-align {
	display: table-cell;
	vertical-align: middle;
}

.padding-0 {
	padding: 0px;
}

.padding-left {
	padding-left: 10px;
}

.padding-left-none--md {
	padding-left: 15px;
}

.padding-sm--none {
	padding-left: 0px;
	padding-right: 0px;
}

.margin-y-0 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.margin-y-md {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.margin-auto {
	margin: 0 auto;
}

.margin-t-0 {
	margin-top: 0px !important;
}

.margin-b-0 {
	margin-bottom: 0px !important;
}

.margin-b-md {
	margin-bottom: 40px !important;
}

.margin-right {
	margin-right: 20px !important;
}

.float-left {
	float: left;
}

.input-checkbox-xs {
	float: left;
}

.position-r {
	position: relative;
}

.padding-lg {
	padding: 4% 0%;
}

.vertical-align--top {
	vertical-align: top;
}

/* Media query */

@media (min-width: 320px) {
	.btn-radius,
	.btn-radius:hover,
	.btn-radius:focus,
	.btn-radius:active {
		width: 38%;
	}
}

@media (min-width: 480px) {
	.padding-lg {
		padding: 25% 2%;
	}
}

@media (min-width: 640px) {
	.padding-lg {
		padding: 20% 2%;
	}

	.image-responsive {
		width: 70%;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 18px;
	}

	.btn-default {
		font-size: 21px !important;
	}

	h1, .h1, .guias .main-title {
		font-size: 72px;
	}

	h1.home-main-title {
		font-size: 46px !important;
	}

	.thanksfull .visible-xs .main-subtitle {
		font-size: 18px !important;
	}

	.thanksfull .visible-xs .main-title {
		font-size: 72px !important;
	}

	.menu-nav a {
		padding-left: 15px;
		padding-right: 15px;
	}

	.text-oswald-regular {
		font-size: 21px !important;
	}

	iframe {
		display: block;
	}

	.btn-radius,
	.btn-radius:hover,
	.btn-radius:focus,
	.btn-radius:active {
		width: 20%;
		font-size: inherit !important;
	}

	.input {
		width: 40%;
	}

	.text-lg {
		font-size: 18px;
	}

	.logo-manki {
		top: -28px;
	}

	.input-checkbox-xs {
		float: none;
	}

	.logo-manki-footer {
		margin-top: 0px;
	}

	.col-md {
		float: none;
		width: auto;
	}

	.image-responsive {
		width: 60%;
	}

	.btn-thanks-width {
		width: 24%;
	}

	.padding-lg {
		padding: 8% 2%;
	}

	.thanksfull .hidden-sm .main-title {
		font-size: 60px !important;
	}

	.width-button {
		width: 25%;
	}
}

@media (min-width: 992px) {
	.btn-radius,
	.btn-radius:hover,
	.btn-radius:focus,
	.btn-radius:active {
		width: 18%;
	}

	.guias p.main-subtitle {
		font-size: inherit;
	}

	.text-responsive {
		font-size: 16px;
		margin-bottom: 30px;
	}

	.col--full-height {
		height: 100%;
	}

	.col--full-text--height {
		height: 100%;
	}

	.menu-nav__item {
		margin-top: 13px;
	}

	.width-button {
		width: 20%;
	}

	.padding-left-none--md {
		padding-left: 0px;
	}

	.menu-nav {
		margin-top: 4%;
	    position: fixed;
	    z-index: 1;
	    width: 50%;
	    background: transparent;
	}

	.logo-manki {
		top: -12px;
	}

	.btn-transparent,
	.btn-transparent:hover,
	.btn-transparent:active,
	.btn-transparent:focus {
		width: 45%;
	}
}

@media (min-width: 1200px) {
	.logo-manki-home {
		left: -6%;
	}

	.main-subtitle {
		margin-bottom: 56px;
	}

	.text-responsive {
		font-size: 18px;
	}

	.guias .main-title {
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.btn-radius,
	.btn-radius:hover,
	.btn-radius:focus,
	.btn-radius:active {
		width: 13%;
	}

	.embed-container iframe {
		min-height: 115vh;
	}
}

/* Validation */

.has-error {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: red;
    display: none;
    font-size: 12px;
    padding: 0px 5px;
    position: absolute;
    text-align: left;
    top: 35px;
}

.has-error--uncheck {
	top: 25px;
    left: 20px;
}