button {
  background-color: #50e3c2 !important;
  border-radius: 8px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  width: auto;
  font-weight: bold;
}
input,
textarea,
select {
  background-color: #f3f3f3 !important;
  color: #4a4a4a !important;
  border: 0 !important ;
}
input {
  padding-left: 20px;
}
li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 20px;
}
.input {
  height: 32px;
  width: 100%;
  position: relative;
}
.input .icon,
.input input {
  height: 32px;
}
.input .icon {
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.input .icon.email {
  background-image: url(../img/email_icon.png);
}
.input .icon.phone {
  background-image: url(../img/phone_icon.png);
}
.input .icon.user {
  background-image: url(../img/user_icon.png);
}
.input input {
  width: 100%;
  margin: 0;
  padding: 0;
  text-indent: 32px;
}
.tabs-element {
  border: 0 !important;
}
.tabs-element .tabs-menu li {
  display: inline-block;
  width: 33%;
  margin-right: -4px;
  font-weight: bold;
  border-bottom: 0 !important;
  color: inherit;
}
.tabs-element .tabs-menu li a {
  color: #d3d3d3;
}
.tabs-element .tabs-menu li a.active {
  color: #ff5628;
}
.tabs-element .tabs-content-element .content {
  display: none;
}
.tabs-element .tabs-content-element .content p {
  margin-top: 40px;
}
.tabs-element .tabs-content-element .content.show {
  display: block;
}
body,
html {
  font-size: 16px;
  color: #4a4a4a;
  font-family: 'Source Sans Pro', sans-serif;
}
.main header {
  padding-top: 20px;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}
.main header h1 {
  margin-bottom: 250px;
}
.main [name="about"] {
  padding-top: 20px;
}
.main [name="about"] img {
  width: 50%;
}
.main [name="about"] button {
  margin-top: 40px;
}
.main [name="experience-type"] {
  display: none;
  margin-top: 80px;
}
.main [name="experience-type"] .item {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #4a4a4a;
  padding: 10px;
}
.main [name="experience-type"] .item a {
  color: #4a4a4a;
}
.main [name="experience-type"] .item.active {
  border-radius: 8px;
  background-color: #ff5628;
}
.main [name="experience-type"] .item.active a {
  color: white;
}
.main [name="experience-type"] .item:first-child {
  margin-top: 0;
}
.main [name="instructor-about"] {
  display: none;
  padding-top: 80px;
}
.main [name="instructor-about"] h1 {
  font-size: 1rem;
}
.main [name="instructor-about"] p.title {
  margin-bottom: 20px;
  margin-top: 30px;
}
.main [name="instructor-about"] p.title + p {
  font-size: 0.8rem;
}
.main [name="instructor-about"] p.subtitle {
  margin-top: 25px;
  margin-bottom: 15px;
}
.main [name="activity"] {
  display: none;
  padding-top: 100px;
}
.main [name="activity"] h1 {
  font-size: 1rem;
  margin-bottom: 30px;
}
.main [name="activity"] li {
  padding-bottom: 10px;
  border-bottom: 1px dotted #4a4a4a;
}
.main [name="activity"] li:last-child {
  border-bottom: 0;
}
.main footer {
  background-color: #4a4a4a;
  padding-top: 20px;
}
.main footer p {
  color: white;
}
.main footer p + p {
  color: #50e3c2;
}
.main footer .logo {
  margin-bottom: 100px;
}
@media screen and (min-width: 40em) {
  .main header {
    background-image: url(../img/header_bg_2x.png);
  }
  .main [name="about"] p {
    margin-top: 40px;
  }
  .main [name="instructor-about"] h1 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .main [name="instructor-about"] p.subtitle {
    margin: 0;
    height: 32px;
  }
  .main [name="instructor-about"] p.title {
    margin-top: 0;
  }
  .main [name="instructor-about"] button {
    margin-top: 60px;
  }
  .main [name="experience-type"] h1 {
    font-size: 1.5rem;
  }
  .main [name="experience-type"] .item {
    border-bottom: 0;
  }
  .main [name="experience-type"] .item:first-child {
    margin-top: 10px;
  }
}
@media screen and (min-width: 64em) {
  .tabs-element .tabs-menu li {
    text-align: left;
  }
  .tabs-element .tabs-menu li a {
    color: #ff5628;
  }
  .tabs-element .tabs-content-element .content {
    display: inline-block !important;
    width: 33%;
    margin-right: -4px;
    padding: 10px;
  }
  .main [name="activity"] h1 {
    font-size: 1.5rem;
  }
}
